<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingboat.us.dao.FollowPathwayDao">

    <select id="getNewestDate" resultType="date">
        select MAX(updated_at) from apps_followpathway where user_id = #{userId} and pathway_id in
        <foreach collection="pathwayIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>