<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingboat.us.dao.HighlightnoteDao">
    <select id="getNewestHighlightnoteEntityByHighlightIdsAndUserId" resultType="com.qingboat.us.entity.HighlightnoteEntity">
        select * from apps_highlightnote where note_user_id = #{userId} and highlight_id in
        <foreach collection="highlightIds" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
        order by updated_at desc limit 0,1
    </select>



</mapper>