<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingboat.us.dao.UserProfileDao">
    <select id="findByUserId" parameterType="long" resultType="com.qingboat.us.entity.UserProfileEntity">
        select * from apps_userprofile where user_id = #{userId}
    </select>
    <select id="getUserProfileByIds" parameterType="java.util.List" resultType="com.qingboat.us.vo.UserProfileVO1">
        select * from apps_userprofile where user_id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="getUserProfileByIdsForNewsUpdateCardVO" parameterType="java.util.List" resultType="com.qingboat.us.vo.NewsUpdateCardVO">
        select user_id as creatorId,profile_name as profileName,creator_img_url as creatorImgUrl,nickname,headimg_url  from apps_userprofile where user_id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="getTaSubscriptionNewsletters" parameterType="java.util.List" resultType="com.qingboat.us.vo.TaSubscriptionNewslettersVO">
        select * from apps_userprofile where user_id in
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>
</mapper>