<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingboat.us.dao.UserSubscriptionDao">
    <select id="getUserIdsByCreatorId" resultType="com.qingboat.us.DTO.SubscriptionAndFollowDTO">
        select distinct t.id as id,max(created_at) createTime from (select subscriber_id as id,created_at from apps_usersubscription
        where creator_id = #{creatorId} and TIMESTAMPDIFF(second,cast(NOW() as datetime),expire_date) > 0 and TIMESTAMPDIFF(second,cast(NOW() as datetime),start_date) &lt; 0
        union all
        select user_id as id,created_at from apps_followpathway where timestampdiff(second,cast(now() as datetime),expire_date) > 0 and pathway_id in ( select id from apps_pathway where author_id = #{creatorId}) )t
        group by t.id
        order by createTime desc
    </select>

    <!--id和userId问题 待修改-->
    <select id="getUserIdsByCreatorIdWithStartAndEnd" resultType="com.qingboat.us.vo.UserProfileVO1">
        select user_id as userId,apps_userprofile.id id ,position,headimg_url as headImgUrl ,t1.createTime,nickname,description,apps_industry.name as industry  from apps_userprofile right join (select temp.id as id,createTime from (
        select distinct t.id as id,max(created_at) createTime from (select subscriber_id as id,created_at from apps_usersubscription
        where creator_id = #{creatorId} and TIMESTAMPDIFF(second,cast(NOW() as datetime),expire_date) > 0 and TIMESTAMPDIFF(second,cast(NOW() as datetime),start_date) &lt; 0
        union all
        select user_id as id,created_at from apps_followpathway where timestampdiff(second,cast(now() as datetime),expire_date) > 0 and pathway_id in ( select id from apps_pathway where author_id = #{creatorId}) )t
        group by t.id
        order by createTime desc
        ) temp) t1 on apps_userprofile.user_id = t1.id left join apps_industry on apps_industry.id = apps_userprofile.industry_id  order by t1.createTime desc limit #{start},#{length}
    </select>

    <select id="countUsersByCreatorId" resultType="Integer">
            select count(*)  from apps_userprofile right join (select temp.id as id,createTime from (
                                                                                                                                                 select distinct t.id as id,max(created_at) createTime from (select subscriber_id as id,created_at from apps_usersubscription
                                                                            where creator_id = #{creatorId} and TIMESTAMPDIFF(second,cast(NOW() as datetime),expire_date) > 0 and TIMESTAMPDIFF(second,cast(NOW() as datetime),start_date) &lt; 0
                                                                            union all
                                                                            select user_id as id,created_at from apps_followpathway where timestampdiff(second,cast(now() as datetime),expire_date) > 0 and pathway_id in ( select id from apps_pathway where author_id = #{creatorId}) )t
                group by t.id
                order by createTime desc
            ) temp) t1 on apps_userprofile.user_id = t1.id left join apps_industry on apps_industry.id = apps_userprofile.industry_id

    </select>


    <!--newsletter + pathway-->
    <select id="getCreatorIdsByUserIdWithStartAndEnd" resultType="Integer">
        select * from (select apps_pathway.author_id creatorId
                       from apps_followpathway,apps_pathway where apps_followpathway.user_id = #{userId} and apps_pathway.id = apps_followpathway.pathway_id
                        union
                       select creator_id creatorId from apps_usersubscription where subscriber_id = #{userId}) t limit #{start},#{length}
    </select>
</mapper>